{% for i in 0..23 %}
    <div>
        <a href="/task" class="flex items-center">
            <span class="mx-6">{{ i }}</span>
            <div class="flex flex-col w-full mr-4 divide-y-2 divide-solid divide-black divide-">
                <div class="bg-clair h-14"></div>
                <span class="bg-teal-200 h-14"></span>
                <span class="bg-black h-1"></span>
            </div>
        </a>
    </div>
{% endfor %}
