<div class=" h-full w-full">
    <table class="mt-1.5 h-auto w-full m-auto">
        <thead>
        <tr class="text-xs sm:text-center  text-xl bg-clair border border-r ">
            {% for day in daysOfWeek %}
                <th class="mx-auto px-2 py-2 border-r">{{ day|capitalize }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="border">
        {% for numberDay in numberDays|batch(7) %}
            <tr class="text-center border bg-white py-1">
                {% for calendarDay in numberDay %}
                    <td class="text-center border bg-white">{{ calendarDay }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
