<div class="w-full h-16 sm:h-24 bg-principal flex justify-between">
	<a class="my-auto" href="/">
		<h1 class="my-auto ml-2 sm:ml-6 text-white font-semibold text-2xl sm:text-5xl">Ag&Co</h1>
	</a>
	<div class="flex my-auto">
		<p class="sm:mx-24 my-auto text-white tracking-wider text-2xl hidden sm:block sm:text-4xl">Bienvenue, {{ user.firstname }}</p>
		<div>
			<a href="/disconnect" title="déconnexion">
				<i class="fa-solid fa-arrow-right-from-bracket text-4xl text-white mr-4"></i>
			</a>
		</div>
	</div>
</div>
<div class=" w-full flex justify-center mt-2 sm:hidden text-2xl">
	<p>Bienvenue, {{ user.firstname }}</p>
</div>
