<div>
    <div class="flex flex-row flex-nowrap bg-grey text-center divide-x-2 divide-solid divide-white overflow-x-auto lg:pr-2">
        <span class="w-28 lg:w-1/6 ml-14">Lundi</span>
        <span class="w-28 lg:w-1/6 mx-2">Mardi</span>
        <span class="w-28 lg:w-1/6 mx-2">Mercredi</span>
        <span class="w-28 lg:w-1/6 mx-2">Jeudi</span>
        <span class="w-28 lg:w-1/6 mx-2">Vendredi</span>
        <span class="w-28 lg:w-1/6 mx-2">Samedi</span>
        <span class="w-28 lg:w-1/6 mx-2">Dimanche</span>
    </div>
   
    <div class="bg-grey text-center pt-4">
        {% for i in 0..23 %}
            <div class="h-8 flex flex-row mr-2 lg:mr-2">
                <span class="w-8 mr-3">{{ i }}</span>
                {% for i in 0..6 %}
                    <div class="flex flex-col w-28 lg:w-1/6 lg:pl-2 ml-3">
                        <span class="bg-clair h-14"></span>
                        <span class="bg-teal-200 h-14"></span>
                        <span class="bg-black h-1"></span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>