{% extends "base.html.twig" %}

{% block header %}{% endblock %}

{% block main %}
	<div class="w-full h-full mt-10 flex">
		<p class="m-auto font-serif text-center text-xl sm:text-4xl">Nous n'avons pas pu trouver la page que vous recherchez...</p>
	</div>
{% endblock %}

