{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block header %}{% include '/components/navbar.html.twig' %}{% endblock %}

{% block main %}
    <div class="flex flex-col items-center bg-clair sm:mx-auto m-4 text-center rounded-xl shadow-lg xl:w-96 xl:mt-36">
        <h1 class="font-semibold text-lg my-4 xl:my-8 xl:text-3xl font-serif">Se connecter</h1>
        <form action="/auth" method="post" class="flex flex-col">
            <label for="email" class="text-lg xl:text-3xl font-serif">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" class="border border-1 border-solid border-black rounded-lg mb-4 xl:mb-8 h-8 pl-2" required >
            <label for="password" class="text-lg xl:text-3xl font-serif">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Mot de passe" class="border border-1 border-solid border-black rounded-lg mb-4 xl:mb-8 h-8 pl-2" required>
            <button type="submit" class="border border-1 border-solid border-black rounded-lg bg-fonce my-6 xl:my-8 text-white hover:bg-principal h-11 xl:h-12 xl:text-3xl font-serif">Se Connecter</button>
        </form>
        <hr>
        <h2 class="font-semibold text-lg my-4 xl:my-8 xl:text-3xl font-serif">Nouveau client?</h2>
        <a href="/register" class=" flex items-center border border-1 border-solid border-black rounded-lg bg-fonce my-6 xl:my-8 text-white hover:bg-principal h-11 xl:h-12 xl:text-3xl font-serif">Créer un compte</a>
    </div>
{% endblock %}