<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Ag&Co{% endblock %}</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs//6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/48a437b974.js" crossorigin="anonymous"></script>
	<script>
		tailwind.config = {
			theme: {
				extend: {
					colors: {
						principal: '#0078D4',
						clair: '#EBF6FF',
						fonce: '#00518F',
						rouge: '#FF3333',
						grey: '#B8B8B8'
					}
				}
			}
		}
	</script>
</head>
<body class="font-serif">

		{% block header %}{% include "components/navbarHome.html.twig" %}{% endblock %}
		
		{% block main %}{% endblock %}
</body>
</html>
