{% extends 'base.html.twig' %}

{% block title %}Mes calendriers{% endblock %}

{% block main %}
    <div class="flex justify-around items-center bg-clair h-14 lg:h-24 text-lg lg:text-3xl">
        <span class="hidden md:block"><a href="#">Aujourd'hui</a></span>
        <span class="flex">
            <form method="get" class="mx-2">
                <select class="lg:w-56 w-24 lg:h-16 m-auto h-8 text-center text-base lg:text-3xl" name="month_selection" id="month_selector" onchange="window.location = 'calendar/?month_selection='+this.value">
                    {% for month in months %}
                        <option class="relative" value="{{ month|format_date('full', pattern='MMMM') }}">{{ month|format_date('full', pattern='MMMM') }}</option>
                    {% endfor %}
                </select>
            </form>
            <form method="get" class="mx-2">
                <select class="lg:w-56 w-24 lg:h-16 m-auto h-8 text-center text-base lg:text-3xl" name="year_selection" id="year_selector" onchange="window.location = 'calendar?year_selection='+this.value">
                    {% for year in yearActual..yearMax %}
                        <option class="relative" value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </form>
        </span>
        <span>
            <form method="get">
                <select class="lg:w-56 w-24 lg:h-16 m-auto h-8 text-center text-base lg:text-3xl" name="display_selection" id="display_selector" onchange="window.location = '/calendar/'+this.value">
                    <option class="relative" value="day" {{ selectedDay }}>jour</option>
                    <option class="relative" value="week" {{ selectedWeek }}>semaine</option>
                    <option class="relative" value="month" {{ selectedMonth }}>mois</option>
                </select>
            </form>
        </span>
    </div>
    <div class="flex items-center h-14">
        <span class="h-12 w-14 rounded-3xl bg-principal flex items-center justify-center lg:hidden ml-4">
            <span class=""><a href="/task"><img src="../img/plus.png" alt="Ajouter une tâche" class="w-10"></a></span>
        </span>
        <span class="w-full text-center text-xl lg:text-3xl">{{ today|format_datetime('full', 'none') }}</span>
    </div>
    <div class="flex">
        <span class="hidden lg:flex lg:w-2/12 bg-clair h-auto mx-4"></span>
        <span class="w-auto lg:w-8/12">
            {%  include displayType %}
        </span>
        <span class="hidden lg:flex lg:w-2/12 bg-clair h-auto mx-4"></span>
    </div>
{% endblock %}
