{% extends "base.html.twig" %}

{% block title %}Choix du Calendrier
{% endblock %}

{% block main %}
{{ nameCalendar }}{{ choiceCalendar }}

	<div class="relative w-3/4 sm:w-4/12 h-6/12 sm:h-92 border-2 border border-black border-solid mb-10 m-auto mt-4 sm:mt-10 rounded-lg bg-clair font-serif">
{# absolute position search-bar #}
		<div class="absolute top-40 flex flex-col justify-center w-full">
			<div>
				<h3 class="text-xl text-center">Invitation</h3>
			</div>
			<form action="/searchCreate" method="GET" class="flex justify-center">
				<label for="search" class="sr-only">Recherche</label>
				<input type="text" class="w-9/12 sm:w-[325px] mr-2 h-10 border border-1 border-solid border-black rounded-lg pl-8 text-xl" id="search" placeholder="Email..." name="search">
				<button type="submit" class="border border-2 rounded-lg bg-fonce  text-3xl font-black text-white text-center w-10 h-10 hover:bg-opacity-80">+</button>
			</form>
		</div>

		<h1 class="text-2xl mt-2 sm:mt-4 sm:text-4xl font-semibold text-center">Calendrier</h1>
		<form action="/create-calendar" method="POST" class="mt-4 sm:mt-6 flex flex-col items-center justify-center">
			<label for="calendar-name" class="text-lg xl:text-3xl font-serif"></label>
			<input class="border border-1 border-solid border-black w-48 sm:w-72 h-8 sm:h-10 opacity-70 text-center sm:text-2xl rounded-lg" type="text" name="calendar-name" id="calendar-name" placeholder="Nouveau Calendrier">

			<div class="sm:flex justify-around mt-2">
				<div class="flex items-center">
					<input type="radio" id="calendrier_public" name="calendrier" value="1">
					<label for="calendrier_public" class="ml-2 text-xl">calendrier public</label>
				</div>
				<div class="flex sm:ml-3 items-center">
					<input type="radio" id="calendrier_privée" name="calendrier" value="0">
					<label for="calendrier_privée" class="ml-2 text-xl">calendrier privé</label>
				</div>
			</div>
			<div class="flex flex-col mt-24 w-full ">
				<h3 class="text-center text-xl">Invité</h3>
				<div class="box mx-auto mb-6 w-11/12 sm:w-12/12 h-36 bg-white border border-2 border-black rounded-lg overflow-x-scroll">
{#					{% for email in emails %}#}
{#						<p class="my-auto sm:text-lg">{{ email }}</p>#}
{#					{% enfor %}#}
				</div>
			</div>
			<div class="flex justify-center flex-col-reverse sm:flex-row mb-6">
				<a href="/" class=" flex items-center justify-center border border-2 rounded-lg bg-rouge text-xl text-white w-36 h-10 mx-auto sm:mx-0 mb-4 sm:mb-0 sm:mr-10 hover:bg-opacity-80">Annuler</a>
				<button type="submit" class="border border-2 rounded-lg bg-fonce text-xl text-white w-36 h-10 mx-auto sm:mx-0 mb-4 sm:mb-0 hover:bg-opacity-80">Enregistrer</button>
			</div>
		</form>
	</div>
{% endblock %}
