{% extends "base.html.twig" %}

{% block title %}home{% endblock %}

{% block main %}
    <div class="w-full mt-8 h-full">
        <div class="flex sm:flex-row-reverse flex-col">
            <div class="relative w-72 mx-auto hover:opacity-90 sm:hover:opacity-100 lg:overflow-hidden ">
                <input type="checkbox" class="peer absolute inset-x-0 w-full h-12 opacity-0 z-10 lg:cursor-pointer">
                <div class="bg-fonce h-10 w-72 sm:pl-5 flex items-center rounded-lg lg:hidden ">
                    <p class="text-center m-auto text-white text-xl">Evènement</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mr-4" fill="none" viewbox="0 0 24 24"
                         stroke="white" stroke-width="3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
                    </svg>
                </div>

                <div class="text-fonce sm:overflow-visible sm:max-h-fit overflow-hidden transition-all duration-500 max-h-0 peer-checked:max-h-fit w-full ">
                    <div class=" m-auto text-center lg:leading-10">
                        <div class="bg-fonce mx-auto h-auto w-full p-4">
                            <p class="text-2xl sm:text-3xl sm:mx-0 sm:m-2 font-semibold text-center text-white">Vos Evenement du jour</p>
                            <p class="text-xl sm:text-2xl text-center text-white">25/08/1993</p>
                            <div class="sm:text-xl m-auto mt-10 mb-4 rounded-lg h-auto w-9/12 bg-clair text-center">
                                <p>zizou sport</p>
                                <p>Muscu</p>
                                <p>10h30</p>
                            </div>
                            <div class="sm:text-xl m-auto mt-10 mb-4 rounded-lg h-auto w-9/12 bg-clair text-center">
                                <p>travail</p>
                                <p>debut de formation</p>
                                <p>13h30</p>
                            </div>
                            <div class="sm:text-xl m-auto mt-10 mb-4 rounded-lg h-auto w-9/12 bg-clair text-center">
                                <p>DFCO</p>
                                <p>match</p>
                                <p>17h15</p>
                            </div>
                            <div class="sm:text-xl m-auto mt-10 mb-10 rounded-lg h-auto w-9/12 bg-clair text-center">
                                <p>calendrier de Bernard</p>
                                <p>Apero</p>
                                <p>18h30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-full mt-4 sm:mt-0 sm:w-10/12">
                <a href="/create-calendar" class=" flex flex-row justify-between items-around border mx-auto sm:mx-0 sm:ml-10 bg-fonce border-2 rounded-lg w-72 sm:w-96 h-12 sm:h-16 ">
                        <p class="ml-4 my-auto text-xl sm:text-2xl text-white">Créer votre Calendrier</p>
                        <i class=" mr-6 my-auto text-2xl sm:text-4xl fa-sharp rotate-45 fa-solid fa-xmark text-white"></i>
                </a>
                <div class="flex justify-between mt-14">
                    <p class="text-xl sm:mt-4 ml-4 sm:ml-10 sm:text-2xl ">Suivi de Vos Calendrier</p>

                    <div class="relative w-[150px] sm:w-[275px] hover:opacity-90 overflow-hidden mr-2 sm:mx-2 sm:my-2">
                        <input type="checkbox" class="peer absolute inset-x-0 w-full h-12 opacity-0 z-10 cursor-pointer">
                        <div class="bg-fonce sm:h-10 sm:w-full sm:pl-5 flex items-center rounded-lg ">
                            <h1 class="sm:text-lg font-semibold text-white m-auto">filtre</h1>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24"
                                 stroke="white" stroke-width="3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
                            </svg>
                        </div>
                        <div class="bg-slate-100 text-fonce overflow-hidden transition-all duration-500 max-h-0 peer-checked:max-h-fit ">
                            <div class="p-4 m-auto text-center sm:leading-10">
                                <select class="sm:w-36 w-24 sm:h-8 m-auto h-6" name="selection" id="a">
                                    <option class="relative" value="trier par">trier par</option>
                                    <option class="relative" value>public</option>
                                    <option class="relative" value="">privé</option>
                                </select>
                                <select class="sm:w-36 w-24 sm:h-8 h-6" name="selection" id="b">
                                    <option class="relative" value="trier par">trier par</option>
                                    <option class="relative" value="croissant">date croissante</option>
                                    <option class="relative" value="décroissant">date decroissante</option>
                                </select>
                                <select class="sm:w-36 w-24 sm:h-8 h-6" name="selection" id="c">
                                    <option class="relative" value="trier par">trier par</option>
                                    <option class="relative" value="nos_creations">nos créations</option>
                                    <option class="relative" value="Agenda_invité">Agenda invité</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="sm:ml-10 ml-4 mt-2 mr-2 relative border-2 border-black bg-black">

                <div class="flex flex-wrap mt-4 p-2 sm:pl-6 h-auto w-full">
                    <a href="/calendar" class="flex mx-auto sm:mx-0">
                        <div class="sm:hidden block border flex mx-auto justify-between border bg-fonce border-2 rounded-lg w-72 h-12">
                            <h2 class="ml-4 text-2xl text-white my-auto text-center">nom</h2>
                            <svg xmlns="http://www.w3.org/2000/svg" class=" -rotate-90 h-10 w-10 mr-4" fill="none" viewbox="0 0 24 24"
                                 stroke="white" stroke-width="3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
                            </svg>
                        </div>
                        <div class="w-auto hidden sm:block h-auto border border-2 border-black rounded-lg bg-white">
                            <div class="w-auto h-10 flex justify-around border-b-2 border-black bg-clair">
                                <h2 class="text-3xl text-center">nom</h2>
                                <h2 class="text-3xl text-center">{{ strtotime|date('F') }}</h2>
                            </div>
                                {% include "components/month_card.html.twig" %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
