{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block header %}{% include '/components/navbar.html.twig' %}{% endblock %}
    
{% block main %}
    <div class="flex flex-col items-center bg-clair sm:mx-auto m-4 text-center rounded-xl shadow-lg xl:w-96 xl:mt-36">
        <h1 class="font-semibold text-lg my-4 xl:my-8 xl:text-3xl font-serif">S'inscrire</h1>
        <form action="/register" method="post" class="flex flex-col">
            <label for="lastname" class="text-lg xl:text-3xl font-serif">Nom</label>
            <input type="text" name="lastname" id="lastname" class="border border-1 border-solid border-black rounded-lg mb-4 xl:mb-8 h-8" required>
            <label for="firstname" class="text-lg xl:text-3xl font-serif">Prénom</label>
            <input type="text" name="firstname" id="firstname" class="border border-1 border-solid border-black rounded-lg mb-4 xl:mb-8 h-8" required>
            <label for="email" class="text-lg xl:text-3xl font-serif">Email</label>
            <input type="email" name="email" id="email" class="border border-1 border-solid border-black rounded-lg mb-4 xl:mb-8 h-8" required>
            <label for="password" class="text-lg xl:text-3xl font-serif">Mot de passe</label>
            <input type="password" name="password" id="password" class="border border-1 border-solid border-black rounded-lg mb-4 xl:mb-8 h-8" required>
            <label for="password_confirmation" class="text-lg xl:text-3xl font-serif">Vérification mot de passe</label>
            <input type="password" name="password_confirmation" id="password_confirmation" class="border border-1 border-solid border-black rounded-lg h-8" required>
            <button type="submit" class="border border-1 border-solid border-black rounded-lg bg-fonce my-6 xl:my-8 text-white hover:bg-principal h-11 xl:h-12 xl:text-3xl font-serif">S'inscrire</button>
        </form>
    </div>
{% endblock %}